[project]
	description = Get balance changes from ripple meta data
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sublimator
[access "refs/for/refs/*"]
	read = group user/sublimator
	push = group user/sublimator
	label-Code-Review = -2..+2 group user/sublimator
	label-Verified = -1..+1 group user/sublimator
	rebase = group user/sublimator
	removeReviewer = group user/sublimator
	submit = group user/sublimator
[access "refs/heads/*"]
	read = group user/sublimator
	create = group user/sublimator
	push = +force group user/sublimator
	pushMerge = group user/sublimator
[access "refs/tags/*"]
	push = +force group user/sublimator
	pushTag = group user/sublimator
	pushSignedTag = group user/sublimator
